body {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149018550.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-item:hover {
  color: white;
  border-bottom: 2px solid black;
}

#cards :hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  /* color: whitesmoke; */
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(44, 95, 24, 0.5);
  /* background-color: grey; */
  cursor: pointer;
}